# {{ role_name }}
{% if role_description is defined %}
{{ role_description }}
{% else %}
"Please fill description"
{% endif %}

## Example
```yaml
---
- hosts: all
  become: true

  roles:
      - role: {{ role_name }}
        tags: [{{ role_name }}]

```
___

{% if platform_table is defined  %}
## Support Platforms
This role supports the following list of operating systems

{{ platform_table }}
{% endif %}

___

{% if variable_table is defined  %}  
## Variables
List of variables used in the role  
{{ variable_table }}
{% endif %}

